.container {
    width: 768px;
    max-width: 100%;
    margin: 0 auto;
    padding: 10px;
    font-size: 26px;
    font-weight: bold;
    // .container.row
    // &.row {
    //     background-color: blue;
    //     width: 100px;
    //     height: 100px;
    // }
}